django-celery
django==1.5
pil
twython
facebook-sdk
django-registration
django-social-auth
google-api-python-client
south
mysql python egg



GIT Config
==========
git config --global user.email "email@gmail.com"
git config --global user.email