<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>agrofrnd</title>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href='css/corgi.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/elusive-webfont.css">
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/corgi.js" type="text/javascript"></script>
    <!-- elusive icons ie7 support -->
    <!--[if lte IE 7]><script src="js/lte-ie7.js"></script><![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <style>
      body {
        padding-top: 80px; /* Only include this for the fixed top bar */
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="brand" href="#">agrofrnd</a>

          <div class="nav-collapse collapse">
          
            <ul class="nav pull-right">
              <li><a href="#about">About</a></li>
               <li class="dropdown"><a class="dropdown-toggle"
data-toggle="dropdown"
href="#">Baseev  <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#">d</a></li>
</ul></li>
              </ul>
               
          </div><!--/.nav-collapse -->
          
        </div>
      </div>
      
    </div>

    <div class="container">
      <div class="row">
        <div class="span8">
          <div class="corgi_feed_well">
            
            <div class="feed_stacked last_feed_item">
              <div class="feed_item">
                <div class="feed_body">
                  <div class="row">
                    <div class="feed_profile_pic">
                      <img src="img/retriever.jpg" alt="meta image" class="meta_image" />
                    </div>
                    <div class="feed_text">
                      <p>Corgi is built with Bootstrap and it only adds 200 lines of css, so it won't get in your way. Stop fighting your theme code.</p>
                    </div>
                  </div>
                </div>
                <div class="comment_area">
                  <p>Add a comment</p>
                  <form>
                    <textarea rows="3" class="span6"></textarea><br/>
                    <input type="submit" class="btn" />
                  </form>
                </div>
                <hr class="feed_hr">
                <div class="bottom_meta">
                  <div class="row">
                    <div class="bottom_left">
                      <div class="share_wrapper">
                        <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
                        <div class="share_hidden">
                          <ul class="hover_heart">
                            <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span> 
                            <div class="social_links">
                              <li><span><i class="icon-twitter"></i> Twitter</span></li>
                              <li><span><i class="icon-facebook"></i> Facebook</span></li>
                              <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="bottom_right">
                      <a href="#">Sticks_are_the_best</a> <span>|</span> <a href="#"  class="show_comment_link">comment</a> <span>|</span> 2 days ago
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="corgi_feed_well">
            <div class="individual_feed_item">
              <div class="feed_item">
                <div class="feed_body">
                  <div class="row">
                    <div class="feed_profile_pic">
                      <img src="img/boxer.jpg" alt="meta image" class="meta_image" />
                    </div>
                    <div class="feed_text">
                      <p>Click on the comment link in the lower right. It has a hidden dropdown comment area built in. Woof!</p>
                    </div>
                  </div>
                </div>
                <div class="comment_area">
                  <p>Add a comment</p>
                  <form>
                    <textarea rows="3" class="span6"></textarea><br/>
                    <input type="submit" class="btn" />
                  </form>
                </div>
                <hr class="feed_hr" />
                <div class="bottom_meta">
                  <div class="row">
                    <div class="bottom_left">
                      <div class="share_wrapper">
                        <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
                        <div class="share_hidden">
                          <ul class="hover_heart">
                            <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span> 
                            <div class="social_links">
                              <li><span><i class="icon-twitter"></i> Twitter</span></li>
                              <li><span><i class="icon-facebook"></i> Facebook</span></li>
                              <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="bottom_right">
                      <a href="#">Sir_woofs_alot</a> <span>|</span> <a href="#" class="show_comment_link">comment</a> <span>|</span> 2 days ago
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="corgi_feed_well">
            <div class="individual_feed_item">
              <div class="feed_item">
                <div class="feed_body">
                  <div class="row">
                    <div class="feed_profile_pic">
                      <img src="img/sharpei.jpg" alt="meta image" class="meta_image" />
                    </div>
                    <div class="feed_text">
                      <p>The top navbar is bigger than the default bootstrap nav to accommodate a standard logo. Looks nice, even through all these wrinkles.</p>
                    </div>
                  </div>
                </div>
                <div class="comment_area">
                  <p>Add a comment</p>
                  <form>
                    <textarea rows="3" class="span6"></textarea><br/>
                    <input type="submit" class="btn" />
                  </form>
                </div>
                <hr class="feed_hr" />
                <div class="bottom_meta">
                  <div class="row">
                    <div class="bottom_left">
                      <div class="share_wrapper">
                        <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
                        <div class="share_hidden">
                          <ul class="hover_heart">
                            <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span> 
                            <div class="social_links">
                              <li><span><i class="icon-twitter"></i> Twitter</span></li>
                              <li><span><i class="icon-facebook"></i> Facebook</span></li>
                              <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="bottom_right">
                      <a href="#">Smell_ya_later</a> <span>|</span> <a href="#" class="show_comment_link">comment</a> <span>|</span> 2 days ago
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- end span8 -->
        <div class="span4">
                  <form class="form-search">
<div class="input-append">
<input type="text" class="span3 search-query">
<button type="submit" class="btn btn-success">Search</button>
</div></form>
          <div class="corgi_feed_well">
          
            <div class="sidebar_header">
              <div class="sidebar_title">
                <h4>Unanswered Questions</h4>
              </div>
            </div>
            <hr class="feed_hr" />
            <div class="sidebar_interior">
              <i class="icon-ok"></i> Stacked Feed Layout
              <br/>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <br/><br/>
    <div class="corgi_footer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul>
              <li><a href="">About</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
            <div class="corgi_copyright">
              &copy; 2013 Kissan india
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Le javascript
    ================================================== -->
   <script src="js/bootstrap.js"></script>
  </body>
</html>
