<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>agrofrnd</title>
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href='/static/css/corgi.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/elusive-webfont.css">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/corgi.js" type="text/javascript"></script>
    <!-- elusive icons ie7 support -->
    <!--[if lte IE 7]><script src="/static/js/lte-ie7.js"></script><![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
    <style>
      body {
        padding-top: 80px; /* Only include this for the fixed top bar */
      }
    </style>
  </head>
  <body class="hayball">
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="brand" href="#">agrofrnd</a>

          <div class="nav-collapse collapse">
          
            <ul class="nav pull-right">
              <li><a href="#about">About</a></li>
               <li><a href="#about">About</a></li>
              </ul>
               
          </div><!--/.nav-collapse -->
          
        </div>
      </div>
      
    </div>
  <div class="container corgi_feed_well">
            <div class="row feed_body">
                <div class="span11">
                        <div>
                            <h1 class="header">Sign In</h1>
                            <hr>
                        </div>
                        <div class="pull-left span6" style="border-right: 1px solid #BBBBBB; padding-right:35px; padding-bottom:40px;">                            
                            <h4>Use other accounts</h4>
                            <p>
                                You can also sign in using your Facebook, Twitter or Google Account
                            </p>
                            <a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-large btn-block btn-primary">Login with Facebook</a>
                            <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="btn btn-large btn-block btn-danger">Login with Google</a>
                            <a href="{% url 'socialauth_begin' 'twitter' %}" class="btn btn-large btn-block btn-info">Login with Twitter</a>
                        </div>
                        <div class="pull-right span4">
                            <div>
                                <h4 class="header">Using your account</h4>                                                        
                            </div>  
                            <div >                              
                                <div>
									{% if form.errors %}
									<p class="error">Please correct the errors below:</p>
									{% endif %}
                                	<form method="post" action="/accounts/login/?next={{ next|default:"/my-profile/" }}">
                                	{% csrf_token %}
                                    <input type="text" class="input-block-level" placeholder="Email address">
                                    {% if form.username.errors %} {% endif %} {{ form.username }}
                                    <input type="password" class="input-block-level" placeholder="Password"> 
                                    {% if form.password.errors %} {% endif %} {{ form.password }}               
                                </div>
                           </div>                                 
                            <div >     
                                <button class="btn btn-large btn-success btn-block" type="submit">Sign In</button> <br>
                                </form>

                                <p >
                                    <a href="#">Forgot your password?</a>
                                </p>
                                <p>Don't have an account, you can <a href="/accounts/register/">Sign Up</a></p>
                            </div>    
                        </div>          
                  
                </div>
            </div>
        </div>
  <br/><br/>
  
  <!-- Le javascript
    ================================================== -->
   <script src="js/bootstrap.js"></script>

  </body>
</html>
